# Network configuration
NETWORK_RPC_URL=http://localhost:8545
CONTRACT_ADDRESS=

# Used for contract interaction, leave empty to use the first account from the node
PRIVATE_KEY=

# IPFS configuration (optional)
# PINATA_API_KEY=
# PINATA_SECRET_KEY= 